

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #003366;
  color: white;
  padding: 25px 60px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.bi-arrow-bar-left{
  font-size: 24px;
  font-weight: 600;
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.menu {
  margin-left: 50px;
}
.form-select{
  width: 150px;
  height: 30px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}


.item {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  border-radius: 4px;
  height: 370px;
}
.imgProduct{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px ;
}
.imgProduct:hover{
  padding: 20px;
  transition: 0.5s ease;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;

}

.price-quantity {
  position: absolute;
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;

}
.buttons {

  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;

}

.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}



.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

.checkout {
  background-color: green;
}
.removeAll {
  background-color: red;
}
.bi-trash {
  color: red;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}


.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}


.cart-item {
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.title-price-x {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}



.img-admin {
  width: 70px;
  height: 70px;
}